<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>
    <div>
        <div th:object="${member}">
            <p th:text="|*{name}님의 마이 페이지|"></p>
        </div>
        <button type="button" onclick="location.href='/mypage/pet/register'">반려동물 등록하기</button>
    </div>
</body>
</html>